
 header a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: 2px solid hsl(175, 8%, 31%);
    box-sizing: border-box;
    background-color: hsl(167, 96%, 51%);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
header,footer {
    background-color: hsl(176, 74%, 80%);
}

a:hover {
    background-color: hsl(167, 96%, 31%);
    color: hsl(176, 74%, 80%);
    color: rgb(255, 255, 255);
}
