h1{
    font-family: Verdana,sans-serif;
}
ul{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}
address{
    font-family: "Afacad Flux"
}