body {
    background-color: rgb(143, 201, 228);
    color: rgb(98, 9, 241);
    text-align: center;
}


h1 {
    color: white;
    background-color: black;
}


p {
    color: blue;
}


#p1 {
    color: tomato;
}


.odd {
    color: red;
}

.even {
    color: blue;
}